.cartItems{
    background-color: aliceblue;
    border-radius: 10px;
    width: 18rem;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myCartImg{
    object-fit: contain;
    margin: 0;
}

.cartItems > h4 {
    font-family: 'AvenirBlack';
    font-size: 1.2rem;
    margin: 0.2rem;
}

.cartItems > p {
    font-size: 1.1rem;
    margin: 0.2rem;
}