body {
  background: linear-gradient(to top, rgb(17, 24, 39), rgb(17, 24, 39)); 
  margin: 0;
  font-family: 'Avenir';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Avenir';
  src: url(./fonts/Avenir\ LT\ Std\ 45\ Book.otf);
}

@font-face {
  font-family: 'AvenirBlack';
  src: url(./fonts/Avenir\ LT\ Std\ 95\ Black.otf);
}

.myButton{
  font-family: 'Avenir';
  font-size: 1.15rem;
  background-color: black;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin: 5px;
}

.myButton:hover{
  background-color: rgb(58, 57, 57);
  color: aliceblue;
}

#myButton{
  width: 180px;
}
